{% extends 'admin/base_site.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link href="{% static 'sb-admin-2/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
<!-- Custom styles for this template-->
<link href="{% static 'sb-admin-2/css/sb-admin-2.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<!-- Add this in the <head> section of your HTML -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
{% block content %}

{% block extrahead %}
{{ block.super }}
<style>
    /* Add custom styles here, if needed */
    .my-bg {
        background-color: white !important;
    }
    .nav-tabs > li {
        list-style: none;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: var(--breadcrumbs-bg) !important;
        font-weight: bold !important;
    }

    .col-sm-2.my-bg {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .avatar-container {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
    }

    .avatar-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .table thead th {
        background-color: var(--breadcrumbs-bg);
        font-weight: bold;
        font-size: 15px;
    }
    .approve-button {
      background-color: #8efcc6;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .approve-button:hover {
      background-color: #0adb75;
      font-weight: bold;
    }

    .reject-button {
      background-color: #e65959;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .reject-button:hover {
      background-color: #e20d0d;
      font-weight: bold;
    }

</style>
{% endblock %}


{% load bootstrap4 %}

<!-- Các thành phần Bootstrap -->
{% bootstrap_css %}
{% bootstrap_javascript %}
<!-- Nội dung template -->
<!-- ... -->

<div class="container mt-3">
    <h1 style="text-align: center; font-weight: bold; font-size: 30px;">List orders</h1>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#menu1">Order waiting for ship </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Order no shipper auction</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="menu1" class="container tab-pane active"><br>
            <input class="form-control" id="myInput3" type="text" placeholder="Search..">
            <br>
            <div class="table-responsive">
                <table class="table table-striped"
                       style="width: 100%; text-align: center; vertical-align: middle; margin-left: auto; margin-right: auto;">
                    <thead>
                    <tr>
                        <th><strong>ID</strong></th>
                        <th><strong>Title</strong></th>
                        <th><strong>Content</strong></th>
                        <th><strong>From Address</strong>
                        </th>
                        <th><strong>To Address</strong>
                        </th>
                        <th><strong>Status</strong></th>
                        <th><strong>Customer </strong></th>
                        <th><strong>Shipper </strong>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="myTable3">
                    {% for order in order_no_shipper %}
                    <tr>
                        <td> {{ order.id }}</td>
                        <td><a href="{% url 'admin:info' order.id %}">
                                {{ order.title }}
                            </a></td>
                        <td> {{ order.content }}</td>
                        <td>
                            {{ order.fromStreet }}, {{ order.fromWard.name }},
                            {{ order.fromWard.district.name }}, {{ order.fromWard.district.city.name }}
                        </td>
                        <td>
                            {{ order.toStreet }}, {{ order.toWard.name }},
                            {{ order.toWard.district.name }}, {{ order.toWard.district.city.name }}
                        </td>
                        <td> {{ order.status }}</td>
                        <td> {{ order.customer.first_name }} {{ order.customer.last_name }}</td>
                        <td>
                            {% if order.shipper is not None %}
                            {{ order.shipper.first_name }} {{ order.shipper.last_name }}
                            {% else %}
                            Waiting for auction to choose shipper
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="menu2" class="container tab-pane fade"><br>
            <input class="form-control" id="myInput4" type="text" placeholder="Search..">
            <br>
            <div class="table-responsive">
                <table class="table table-striped"
                       style="width: 100%; text-align: center; vertical-align: middle; margin-left: auto; margin-right: auto;">
                    <thead>
                    <tr>
                        <th><strong>ID</strong></th>
                        <th><strong>Title</strong></th>
                        <th><strong>Content</strong></th>
                        <th><strong>From Address</strong>
                        </th>
                        <th><strong>To Address</strong>
                        </th>
                        <th><strong>Status</strong></th>
                        <th><strong>Customer </strong></th>
                        <th><strong>Shipper </strong>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="myTable4">
                    {% for order in order_no_auction %}
                    <tr>
                        <td> {{ order.id }}</td>
                        <td><a href="{% url 'admin:info' order.id %}">
                                {{ order.title }}
                            </a></td>
                        <td> {{ order.content }}</td>
                        <td>
                            {{ order.fromStreet }}, {{ order.fromWard.name }},
                            {{ order.fromWard.district.name }}, {{ order.fromWard.district.city.name }}
                        </td>
                        <td>
                            {{ order.toStreet }}, {{ order.toWard.name }},
                            {{ order.toWard.district.name }}, {{ order.toWard.district.city.name }}
                        </td>
                        <td> {{ order.status }}</td>
                        <td> {{ order.customer.first_name }} {{ order.customer.last_name }}</td>
                        <td>
                            {% if order.shipper is not None %}
                            {{ order.shipper.first_name }} {{ order.shipper.last_name }}
                            {% else %}
                            Waiting for auction to choose shipper
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
        $(document).ready(function(){
            $("#myInput3").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable3 tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });

         $(document).ready(function(){
            $("#myInput4").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable4 tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });

        document.getElementById('show-toast-btn').addEventListener('click', function() {
            toastr.success('Approved successfully!');
        });


</script>


<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
<!-- Add this before the closing </body> tag of your HTML -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

{% endblock %}